:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
  color: #222;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1.2em;
  margin: 0 0 0.5rem 0;
}
